# Model files
*.pt
*.pth
*.h5
*.ckpt

# Video & big data
*.mp4
*.avi
*.zip
*.tiff
*.mkv

# Notebook cache
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE / OS files
.vscode/
.DS_Store

# Logs and temp
*.log
*.tmp
*.pkl